fastapi
uvicorn[standard]
python-multipart
numpy
opencv-python-headless
pillow
tqdm
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git